<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Suite" verbose="1" parallel="false">

    <!-- Register Listeners -->
    <listeners>
        <listener class-name="com.example.listeners.TestListener"/>
    </listeners>

    <test name="Regression Suite">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.example.tests.LoginTest"/>
            <class name="com.example.tests.AddToCartTest"/>
            <class name="com.example.tests.RemoveFromCartTest"/>
            <class name="com.example.tests.CheckoutTest"/>
        </classes>
    </test>

</suite>

